@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf);
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.container {
    display: flex;
}

.logo-section {
    width: 40vw;
    height: 100vh;
    background: center url(./images/salman-mukti-7JOX1nwG2hw-unsplash.jpg);
}

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
    padding: 16px;
    position: relative;
    top: 20vh;
}

.logo-image {
    width: 6vw;
}

.logo-text {
    font-family: "Norse Bold", 'Courier New', Courier, monospace;
    font-size: 6vw;
    color: white;
}

.photo-credits {
    color: white;
    position: relative;
    text-align: center;
    top: 76vh;
}

.photo-credits a {
    color: white;
}

.form-container {
    width: 58.3vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 50vw;
    margin: 32px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

input {
    height: 32px;
}

.forms {
    background-color: white;
    width: 100%;
    padding: 32px 0 32px 32px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

form {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
}

.form-element {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    margin: 16px 64px 16px 16px;
}

.buttons, 
.already {
    margin: 16px;
}

.buttons button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 4px;
  
    padding: 20px 30px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #76AEED;
  }
  
  .buttons button:active {
    background-color: #407FC7;
  }
